/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Generics */
body {
	font-family: 'Montserrat', sans-serif;
    background-color: rgb(243, 243, 243);
	
}

.navbar-brand{
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 50px;
}

.logo{
	height: 50px;
}


ul {
	list-style-type: none;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

section {
	margin-bottom: 30px;
}

h2 {
	margin-bottom: 20px;
}

.card-info h3{
	font-size: 17px;
}

.card-info h5{
	font-size: 17px;
}

#logo {
	height: 50px;
}

img{
    height: 100%;
    width: auto;
}
/* Utils */

.container {
	max-width: 1000px;
	margin: 0 auto;

}



.header-left {
	gap: 16px;
	display: flex;
	align-items: center;
}


.col{
    width: calc(100% /3);
}
/* # Card */

.card {
	width: 100%;
	color: #fff;
	display: flex;
    box-shadow: 5px 5px 5px gray;
    
}

.card-image {
	height: 100%;
    width: 100%;
}

.card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
	padding: 10px;
    color: black;
}

.name {
	font-size: 24px;
	text-transform: uppercase;
}

.role {
	font-size: 14px;
}

.email {
	color: lightblue;
	text-decoration: none;
}


/* # Esempio padding */
.row.padding {
	display: flex;
	margin: 0 -1rem;
	flex-wrap: wrap;
}
.padding .col {
	padding: 1rem;
	flex-basis: calc(100% / 3);
}
